footer {
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;


  .footer-row {
    font-family: $font-semibold;
    font-size: 1.4rem;
    padding-bottom: 60px;
    letter-spacing: 0.6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-gray;

    @include middle-tablet {
      padding-bottom: 40px;
    }

    @include tablet {
      padding-bottom: 26px;
    }

    @include phone {
      flex-direction: column-reverse;
      padding-bottom: 40px;
    }

    @include small-phone {
      padding-bottom: 21px;
      font-size: 1.2rem;
    }
  }
  .copyrigths-block{
    //flex: 0 0 80%;
    //max-width: 320px;
  }
  .social-block {
    //flex: 0 0 20%;
    width: 100%;
    max-width: 130px;
    margin-right: 32px;
    display: flex;
    @include phone {
      padding-bottom: 20px;
      margin-right: 0;
    }

    @include small-phone {
      padding-bottom: 18px;
      max-width: 152px;
      margin-left: 8px;
    }

    ul {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .social-link {

    &:last-of-type {
      padding-right: 0;
    }

    &:first-of-type {
      padding-left: 0;
    }

    .icon {
      fill: $color-white;
      transition: all 0.3s linear;

      &:hover {
        transform: scale(1.2);
      }
    }

    .icon-instagram {
      &:hover {
        fill: $color-pink;
      }
    }

    .icon-facebook {
      &:hover {
        fill: $color-blue;
      }
    }

    .icon-be-social {
      &:hover {
        fill: $color-blue-2;
      }
    }

    .icon-browser {
      &:hover {
        fill: $color-pink;
      }
    }

    .icon {
      font-size: 1.6rem;
      transition: 0.3s all linear;

      @include small-phone {
        font-size: 1.4rem;
      }
    }
  }
}
