.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: $svgColor;
}

.icon-ajax {
	font-size:(469.26/10)*1rem;
	width:(1150/469.26)*1em;
}
.icon-analysis {
	font-size:(480.52/10)*1rem;
	width:(480/480.52)*1em;
}
.icon-apple {
	font-size:(552.1/10)*1rem;
	width:(437.5/552.1)*1em;
}
.icon-arrow {
	font-size:(86.6/10)*1rem;
	width:(514/86.6)*1em;
}
.icon-be-social {
	font-size:(320/10)*1rem;
	width:(511.96000000000004/320)*1em;
}
.icon-bird {
	font-size:(671/10)*1rem;
	width:(746.99/671)*1em;
}
.icon-browser {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-css-3 {
	font-size:(558.9/10)*1rem;
	width:(493.81/558.9)*1em;
}
.icon-design {
	font-size:(512/10)*1rem;
	width:(371.61/512)*1em;
}
.icon-discount {
	font-size:(512/10)*1rem;
	width:(505/512)*1em;
}
.icon-experts {
	font-size:(326.88/10)*1rem;
	width:(284.01/326.88)*1em;
}
.icon-facebook {
	font-size:(96.12/10)*1rem;
	width:(96.12/96.12)*1em;
}
.icon-goo-play {
	font-size:(512.1/10)*1rem;
	width:(480/512.1)*1em;
}
.icon-html-5 {
	font-size:(558.9/10)*1rem;
	width:(493.81/558.9)*1em;
}
.icon-instagram {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-java {
	font-size:(949.27/10)*1rem;
	width:(1713.99/949.27)*1em;
}
.icon-jquery {
	font-size:(310.99/10)*1rem;
	width:(1296.21/310.99)*1em;
}
.icon-js {
	font-size:(558.9/10)*1rem;
	width:(493.81/558.9)*1em;
}
.icon-json {
	font-size:(412.3/10)*1rem;
	width:(1198.95/412.3)*1em;
}
.icon-kotlin {
	font-size:(439.86/10)*1rem;
	width:(2000/439.86)*1em;
}
.icon-laravel {
	font-size:(1012.88/10)*1rem;
	width:(1374.39/1012.88)*1em;
}
.icon-lightning {
	font-size:(480.61/10)*1rem;
	width:(252.61/480.61)*1em;
}
.icon-like {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-logo-modal {
	font-size:(2000/10)*1rem;
	width:(1110.27/2000)*1em;
}
.icon-london {
	font-size:(450.59/10)*1rem;
	width:(200.67/450.59)*1em;
}
.icon-message {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-mysql {
	font-size:(666.97/10)*1rem;
	width:(1010.74/666.97)*1em;
}
.icon-objectivec {
	font-size:(1144.03/10)*1rem;
	width:(1675.27/1144.03)*1em;
}
.icon-odessa {
	font-size:(439.92/10)*1rem;
	width:(236.42/439.92)*1em;
}
.icon-php {
	font-size:(438.91/10)*1rem;
	width:(812.85/438.91)*1em;
}
.icon-projects {
	font-size:(259.33/10)*1rem;
	width:(419.73/259.33)*1em;
}
.icon-seo {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-sow {
	font-size:(937.5/10)*1rem;
	width:(937.5/937.5)*1em;
}
.icon-speech {
	font-size:(47.8/10)*1rem;
	width:(56.2/47.8)*1em;
}
.icon-telegram {
	font-size:(189.47/10)*1rem;
	width:(189.47/189.47)*1em;
}
.icon-viber {
	font-size:(226.98/10)*1rem;
	width:(226.98/226.98)*1em;
}
.icon-vue {
	font-size:(686.29/10)*1rem;
	width:(2000/686.29)*1em;
}
.icon-w {
	font-size:(706.01/10)*1rem;
	width:(706.01/706.01)*1em;
}
.icon-whatsapp {
	font-size:(220.26/10)*1rem;
	width:(220.26/220.26)*1em;
}
.icon-years {
	font-size:(512/10)*1rem;
	width:(482.75/512)*1em;
}
.icon-yii {
	font-size:(522.5/10)*1rem;
	width:(972.52/522.5)*1em;
}
